
.review-container {
  display: grid;
  grid-template-columns: [col] 100px [col] 550px ;
	grid-template-rows: [row] auto [row] auto [row] ;
	background-color: #fff;
}
.scoreCell {
  grid-column: col 2;
  grid-row: row 1;
  font-size: .875 rem;
  font-weight: bold;
  line-height: 1.43;
}
.reviewCell {
  grid-column: col 2;
  grid-row: row 2;
  font-size: .875 rem;
}
